requests == 2.31.0
python-telegram-bot
telegram.ext
python-dotenv == 0.20.0
logging
pytest == 7.1.2
flake8 == 4.0.1
uvloop
ujson
numpy
pandas
pyTelegramBotAPI==4.12.0
rsa==4.9
six==1.16.0
telebot==0.0.5
urllib3==1.26.16
